---
http_interactions:
- request:
    method: post
    uri: https://integration-admin.marketplace.cdon.com/api/orderdelivery
    body:
      encoding: UTF-8
      string: '{"OrderId":"1","Products":[{"ProductName":"Something","OrderRowId":"1","QuantityToDeliver":1,"PackageId":"abcdef123"},{"ProductName":"Postage","OrderRowId":"2","QuantityToDeliver":"1","PackageId":null}]}'
    headers:
      Authorization:
      - api hijklm456
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: Unauthorized
    headers:
      X-Host:
      - Marketplace Backoffice
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 11 Mar 2019 09:28:14 GMT
recorded_with: VCR 4.0.0
