---
http_interactions:
- request:
    method: post
    uri: https://integration-admin.marketplace.cdon.com/api/orderdelivery
    body: '{"OrderId":"1","Products":[{"OrderRowId":"1","QuantityToDeliver":1,"PackageId":"abcdef123"}]}'
    headers:
      Authorization:
      - api hijklm456
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      X-Host:
      - Marketplace Backoffice
    body:
      encoding: UTF-8
      string: 'TEST ERROR'
  recorded_at: Thu, 28 Feb 2019 13:49:25 GMT
recorded_with: VCR 4.0.0
