REDIS_PORT =
ROLLBAR_ACCESS_TOKEN =

# for arctic-vendor requests
VENDOR_ID       =
VENDOR_TOKEN    =

SIDEKIQ_USERNAME =
SIDEKIQ_PASSWORD =

ARCTIC_CORE_API_URL =

# smartweb creds
SMARTWEB_LOGIN          =
SMARTWEB_IMAGE_URL      =
SMARTWEB_API_URI        =
SMARTWEB_API_LOGIN      =
SMARTWEB_API_PASSWORD   =
